.APP {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas:
    'logo nav'
    'main main';
}

.app-logo {
  /*border-bottom: solid thin #BFC0C0;*/
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #535664;
  color: white;
  font-family: cursive;
  font-size: 24px;
}

.APP-NAV {
  grid-area: nav;
}
