.button-link {
  margin: 10px 10px 0px 10px;
  text-decoration: none;
}

.button {
  display: block;
  height: 42px;
  padding: 5px;
  font-size: 18px;
  color: white;
}

.button.primary {
  background-color: #E2370F;
}

.button.primary:hover {
  background-color: #a80000;
}

.button.secondary {
  background-color: #BFC0C0;
}

.button.secondary:hover {
  background-color: #8f9090;
}

.button.inverted {
  background-color: white;
  border-color: #E2370F;
  color: #E2370F;
}

.button.inverted:hover {
  background-color: #E2370F;
  color: white;
}

.button.outline {
  text-align: center;
  padding: 5px;
  margin: 9px 10px;
  background-color: transparent;
  border: solid 3px white;
  border-radius: 5px;
  height: auto;
}

.button:focus {
  outline: none;
}

.button.disabled, .button.disabled:hover{
  opacity: 0.5;
}

.button.normal {
  width: 150px;
}

.button.narrow {
  width: 100px;
}

.button.rounded {
  fill: #E2370F;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px 0 10px 10px;
}

.button.rounded:hover {
  fill: white;
}
