.form input {
  display: block;
  margin: 10px 10px 0px 10px;
  border: solid thin black;
  border-radius: 3px;
}

.form input:focus {
  outline: none;
  box-shadow: 0 0 2px #885ead;
}

.form.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.form.input {
  height: 30px;
  padding: 5px;
  font-size: 14px;
}

.form.select {
  display: block;
  margin: 10px 10px 0px 10px;
  border: solid thin black;
  border-radius: 3px;
  height: 42px;
  font-size: 14px;
}

.form.textarea {
  resize: none;
  display: block;
  margin: 10px 10px 0px 10px;
  padding: 5px;
  border: solid thin black;
  border-radius: 3px;
  height: 350px;
  font-size: 14px;
}

.form.textarea:focus {
  outline: none;
  box-shadow: 0 0 2px #885ead;
}

.form.submit {
  display: block;
  margin: 10px 10px 0px 10px;
  height: 42px;
  padding: 5px;
  font-size: 18px;
  background-color: #885ead;
  color: white;
}

.form.submit:hover {
  background-color: #551a8b;
}

.form.submit:focus {
  outline: none;
}

.form.submit.disabled,  .form.submit.disabled:hover{
  background-color: grey;
}

.form.wide {
  width: 320px;
}

.form.normal {
  width: 150px;
}

.form.select.wide {
  width: 332px;
}

.form.select.normal {
  width: 150px;
}
