.JobColumnHeader {
  padding: 10px 0;
  text-align: center;
  font-size: 16pt;
}

.JobColumnWatching {
  grid-area: watching;
  border: solid thin lightgrey;
}

.JobColumnWatching.JobColumnHeader{
  background-color: #edc0c2;
}

.JobColumnApplied {
  grid-area: applied;
  border: solid thin lightgrey;
}

.JobColumnApplied.JobColumnHeader{
  background-color: #f2e2c3;
}

.JobColumnInterviewed {
  grid-area: interviewed;
  border: solid thin lightgrey;
}

.JobColumnInterviewed.JobColumnHeader{
  background-color: #e8ecc1;
}

.JobColumnOffered {
  grid-area: offer;
  border: solid thin lightgrey;
}

.JobColumnOffered.JobColumnHeader{
  background-color: #dbe6b3;
}
