.sidebar {
  background-color: #BFC0C0;
  grid-area: side;
  fill: black;
}

.sidebar > a {
  color: black;
  height: 100px;
  text-decoration: none;
}

.sidebar.option {
  height: 100px;
  text-align: center;
  border-bottom: solid thin #535664;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.option > div > p {
  margin-top: 0;
}

.sidebar.selected {
  color: white;
}

.sidebar.selected svg {
  fill: white !important;
}

.sidebar.selected .sidebar.option {
  background-color: #535664;
}

@media only screen and (max-device-width : 960px) {
  .sidebar.option {
    height: 50px;
  }

  .sidebar.option > div > p {
    display: none;
  }
}
